# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
*.egg-info/

# SQLite database
queue.db

# Logs
*.log

# Docker
docker-compose.override.yml

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
