global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    retries 3
    option  redispatch
    maxconn 2000
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# HAProxy Stats
listen stats
    bind *:1936
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats realm Haproxy\ Statistics
    stats auth admin:admin123

# RabbitMQ AMQP Load Balancing
listen rabbitmq
    bind *:5670
    mode tcp
    balance roundrobin
    option tcpka
    server rabbitmq1 rabbitmq1:5672 check inter 5s rise 2 fall 3
    server rabbitmq2 rabbitmq2:5672 check inter 5s rise 2 fall 3
    server rabbitmq3 rabbitmq3:5672 check inter 5s rise 2 fall 3

# RabbitMQ Management UI Load Balancing
listen rabbitmq_mgmt
    bind *:15670
    mode http
    balance roundrobin
    option tcpka
    server rabbitmq1 rabbitmq1:15672 check inter 5s rise 2 fall 3
    server rabbitmq2 rabbitmq2:15672 check inter 5s rise 2 fall 3
    server rabbitmq3 rabbitmq3:15672 check inter 5s rise 2 fall 3